.hero{
    background-image: url("../../images/banner.jpg");
    /* Set a specific height */
    min-height: 80vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width: 480px){
        background-image: url("../../images/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        //min-height: 10vh;
        margin-top: -20vh;
    }

    @media (min-width: 481px) and (max-width: 1023px){
        background-image: url("../../images/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -20vh;
    }

    &__content{
        max-width: 640px;
        text-align: center;
        padding-top: 60vh;

        &__buttons{
            @media (max-width: 1023px){
                display: flex;
                button{
                    margin: 12px;
                }
            }
        }
        
    }
}